{% extends 'base.html' %}
{% block contents %}

{% for a in images_list %}
<img src="{{ a.photo1.url }}" width="200" height="200">
<img src="{{ a.photo2.url }}" width="200" height="200">
<img src="{{ a.photo3.url }}" width="200" height="200">
<img src="{{ a.photo4.url }}" width="200" height="200">
<img src="{{ a.photo5.url }}" width="200" height="200">
{% endfor %}

{% for item in items %}
<p>{{ item.name }}</p>
<p>{{ item.price }}</p>
<p>{{ item.memo }}</p>
<p>{{ item.status }}</p>
{% endfor %}

{% endblock contents %}