{% extends 'base.html' %}
{% load static %}


{% block contents %}

<body>
    <nav class="site-header">
        <div>
            <div class="container d-flex flex-column flex-md-row">
                <div>
                    <img src="{% static 'logo/logo.png' %}" alt="" width="140" height="40.55">
                </div>
                <div>
                    <input class="form-control form-control-lg" type="text" placeholder="キーワード検索" width="800">
                </div>
                <div>
                    <img class="alert-primary" src="{% static 'icon/icon-search 1.png' %}" alt="" width="19.77"
                        height="19.77">
                </div>
            </div>
        </div>
    </nav>



    <div>
        <img src="{% static 'pict/bg-mainVisual-pict_pc.jpg' %}" alt="" width="1175" height="560">
    </div>
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <img src="{% static 'pict/pict-reason-01.jpg' %}" alt="" width="306" height="306">
        <img src="{% static 'pict/pict-reason-02.jpg' %}" alt="" width="306" height="306">
        <img src="{% static 'pict/pict-reason-03.jpg' %}" alt="" width="306" height="306">
    </div>
    <div>
        <img src="{% static 'pict/bg-topMiddleDl-pict.jpg' %}" alt="" width="1170" height="400">
    </div>

    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <div>
            <div>
                <img src="{% static 'icon/icon-01.png' %}" alt="" width="198.33" height="305.3">
            </div>
            <div>
                簡単に売り買いができる
            </div>
            <div>
                スマホ一つで、いつでもどこでも<br>
                簡単に出品・購入ができる
            </div>
        </div>
        <div>
            <div>
                <img src="{% static 'icon/icon-03.png' %}" alt="" width="198.33" height="305.3">
            </div>
            <div>
                売上金は即日振り込みに対応
            </div>
            <div>
                午前９時までに振込の依頼を頂け<br>
                れば、翌日時指定の講座に翌日に<br>
                指定の講座に入金いたします。
            </div>
        </div>
        <div>
            <div>
                <img src="{% static 'icon/icon-04.png' %}" alt="" width="198.33" height="305.3">
            </div>
            <div>
                様々な支払いに対応
            </div>
            <div>
                お支払いはクレジットカードだけ<br>
                でなく、ポイントや売上金などの<br>
                方法があります。
            </div>
        </div>
    </div>




    <div>
        <img src="{% static 'pict/bg-appBanner-pict.jpg' %}" alt="" width="1170" height="359.33">
    </div>

    <footer class="container py-5">
        <div class="row">
            <div class="col-12 col-md">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img"
                    viewBox="0 0 24 24" focusable="false">
                    <title>Product</title>
                    <circle cx="12" cy="12" r="10" />
                    <path
                        d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94" />
                </svg>
                <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Business</a></li>
                    <li><a class="text-muted" href="#">Education</a></li>
                    <li><a class="text-muted" href="#">Government</a></li>
                    <li><a class="text-muted" href="#">Gaming</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>
    {% endblock contents %}